<%_.each(books, function (book) {%>
<div data-id="<%=book.id%>" class="w3-card-4 w3-margin-top">
    <header class="w3-container w3-blue-gray">
        <h3><a href="/book_detail" style="text-decoration: none">Book Title: <%=book.title%></a></h3>
    </header>
    <div class="w3-container w3-white">
        <p>Author: <%=book.author%></p>
        <p>Price: <%=book.price%></p>
    </div>
    <footer class="w3-container w3-blue-gray">
        <button class=" w3-margin-right w3-margin-top w3-btn w3-round w3-green">Contact seller</button>
        <button id="delete_post" class=" w3-margin-right w3-margin-top w3-btn w3-round w3-green" onclick="delete_post();">Delete</button>
        <script>
            if (sessionStorage.getItem('id')) {
            } else {
                $('#delete_post').hide();
            }
            function delete_post() {
                var data = getFormData($('#post_book'));
                data = JSON.parse(data);
                if(data.seller != sessionStorage.getItem('id')){
                    alert('Sorry, you can only delete your own posts.')
                }else{
                    data = JSON.stringify(data);
                    $.post("/api/book/delete/"+ sessionStorage.getItem('id') + "/" + "<%=book.id>", data, function(result) {    //not sure if "<%=book.id>" is correct ?
                        if (result === 'SUCCESS') {
                            window.location.href = '../';
                        } else {
                            alert("please try again");
                        }
                    });
                }


            }
        </script>
    </footer>
</div>
<%});%>
